# 231108 Peer Graded 1

In [ ]:
###  Create a markdown cell for an introduction

In [ ]:
Create a markdown cell to list data science languages

In [ ]:
Create a markdown cell to list data science libraries

In [ ]:
Create a markdown cell with a table of Data Science tools

In [ ]:
Create a markdown cell introducing arithmetic expression examples

In [2]:
2 + 2

4

Create a code cell to multiply and add numbers

In [3]:
2 * 5

10

In [ ]:
Create a code cell to convert minutes to hours.

In [4]:
390 / 60

6.5

Insert a markdown cell to list Objectives.
- obj 1
- obj 2
- obj 3

 Create a markdown cell to indicate the Authorâ€™s name
    Kuba Milcarz